.table {
  width: 1100px;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 60px auto 0; /* margin: 60px auto 0 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 0;
}
