.khan__buy-link {
  height: 30px;
  font-size: 30px;
  line-height: 42px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.2s;
}

.khan__buy-link:hover {
  opacity: 0.65;
}
